<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <% if(currentUser) { %>
    <header class="header">
      <h1>DashBoard</h1>
      <p>User : <%= currentUser.username %></p>
      <nav class="navbar">
        <a class="nav-btn" href="/log-out">Logout</a>
        <a class="nav-btn" href="/">Homepage</a>
      </nav>
    </header>

    <form class="new-post-form" action="/new-post" method="POST">
      <h2>Create a new post</h2>
      <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" required />
      </div>
      <div></div>
      <label for="post">Your Post</label>
      <textarea
        name="post"
        id="post"
        cols="10"
        rows="3"
        maxlength="80"
        required
      >
      Max length 80 Char</textarea
      >
      <input class="hidden" name="author" value="<%= currentUser.username %>" />

      <button class="btn-login">SUBMIT</button>
    </form>

    <div class="container">
      <h3>MY POST</h3>
      <% if(posts.length >0){ %> <%posts.forEach(post =>{ %>
      <div class="post-card">
        <img
          class="profil-img"
          src="https://i.imgur.com/MSWoy5Y.png"
          alt="avatar"
        />
        <div class="post-card-right">
          <h4><%=post.title%></h4>
          <p class="post"><%=post.post%></p>
          <div class="author-date">
            <h4>Author: <%=post.author %></h4>
            <p><%= new Date(post.createdAt).toDateString() %></p>
          </div>

          <div>
            <a class="btn" href="/delete/<%=post.id %>"
              ><i class="fa-solid fa-trash"></i
            ></a>
            <a class="btn" href="/update/<%=post.id %>"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
          </div>
        </div>
      </div>

      <% }) %> <%} else { %>
      <p>You don't have any posts to display 🙁</p>
      <% } %>
    </div>

    <%} %>
  </body>
</html>
