<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <h2 class="logo">MEMBERS ONLY</h2>
      <nav class="navbar">
        <% if(currentUser){%>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
        <a class="nav-btn" href="/log-out">Logout</a>
        <%} else {%>
        <a class="nav-btn" href="/login">Login</a>
        <a class="nav-btn" href="/secret">Register</a>
        <% } %>
      </nav>
    </header>
    <div class="container">
      <% if(currentUser) { %>
      <div class="user-card">
        <p>User : <%= currentUser.username %></p>
        <% if(currentUser.id === process.env.SUPER_USER) { %>
        <p>User type : Admin</p>
        <%} else { %>
        <p>User type : V.I.P.</p>
        <% } %> <%} %>
      </div>
      <div class="posts-container">
        <div class="post-card">
          <img
            class="profil-img"
            src="https://i.imgur.com/Kj5D6T9.png"
            alt="avatar"
          />
          <div class="post-card-right">
            <h4>Welcome to "Members Only"</h4>
            <p class="post">
              Only Registred users can see details of other users posts (Author,
              Date, Avatar) as well as create, edit and delete their own posts.
              To register enter this code "batman"
            </p>
            <div class="author-date">
              <h4>By: Mustafa</h4>
              <p>2022-12-26</p>
            </div>
          </div>
        </div>
        <% if(posts.length >0){ %> <%posts.forEach(post =>{ %>
        <div class="post-card">
          <% if(currentUser){ %>
          <img class="profil-img" src="<%=post.avatar %>" alt="avatar" />
          <% } else { %>
          <img
            class="profil-img"
            src="https://i.imgur.com/MSWoy5Y.png"
            alt="avatar"
          />
          <%}%>

          <div class="post-card-right">
            <h4><%=post.title%></h4>
            <p class="post"><%=post.post%></p>
            <div class="author-date">
              <% if(currentUser){ %>
              <h4>By: <%=post.author %></h4>
              <p><%= new Date(post.createdAt).toLocaleDateString() %></p>
              <% } else { %>
              <h4>By: Anonymous</h4>
              <p>Date N/A</p>
              <%} %>
            </div>
            <% if( currentUser && currentUser.id === process.env.SUPER_USER) {
            %>
            <div>
              <a class="btn" href="/delete/<%=post.id %>"
                ><i class="fa-solid fa-trash"></i
              ></a>
              <a class="btn" href="/update/<%=post.id %>"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
            </div>
            <% } else{ %>
            <div></div>
            <% } %>
          </div>
        </div>

        <% }) %> <%} else { %>
        <p>there are no posts to display 🙁</p>
        <% } %>
      </div>
    </div>
    <%-include("./partials/footer.ejs") %>
  </body>
</html>
