<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/header.ejs") %>
  <body>
    <header class="header">
      <a class="btn" href="/">
        <h2 class="logo">MEMBERS ONLY</h2>
      </a>

      <nav class="navbar">
        <a class="nav-btn" href="/log-out">Logout</a>
        <a class="nav-btn" href="/dashboard">Dashboard</a>
      </nav>
    </header>

    <% if(currentUser) { %>

    <form class="new-post-form" action="/update/<%=post.id%>" method="POST">
      <h2>Update a post</h2>
      <div>
        <label for="title">Title:</label>
        <input
          id="title"
          type="text"
          name="title"
          required
          value="<%=post.title %>"
        />
      </div>
      <div>
        <label for="post">Your Post</label>
        <input
          id="post"
          type="text"
          name="post"
          class=""
          required
          value="<%=post.post %>"
        />
      </div>
      <input class="hidden" name="author" value="<%= currentUser.username %>" />
      <input class="hidden" name="avatar" value="<%= currentUser.avatar %>" />
      <button class="btn-login">UPDATE</button>
    </form>

    <%} %>
  </body>
</html>
